<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title style=>Produktor©</title>

    <link rel="stylesheet" href="{{ url_for ('static', filename='main.css')}}"

    <!--Bootstrap con plantilla -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/quartz/bootstrap.min.css">



</head>


<body style="background: #757f9a;
background: -webkit-linear-gradient(to left, #757f9a, #d7dde8);
background: linear-gradient(to left, #757f9a, #d7dde8);">


<main class="card-body">

    <h1 class="display-4 text-center mt-4 " style="color:white">Produktor©</h1>
     <div class="col-md-4 offset-md-4 my-auto">

        <div class="d-grid gap-2">
            <form method="post" action="/">
                <button type="submit" name="admin" value="admin" class="btn btn-outline-secondary">Home</button>
            </form>
        </div>

     <br><br>

   <div>
     <form method = "post" action="/a">


        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="" class="form-control"><br><br>




     </form>

     <form method = "get" action="{{ url_for('admin') }}">

       <button type="submit" name="anade" value="anade" class="btn btn-success">Añade producto</button><br><br>

     </form>
   </div>




<form method = "post" action="/a">

    <table class="table table-hover">
        <thead>
        <tr>
        <th scope="col">ID</th>
        <td>{{nombre}}</td>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Localización</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripción</th>

        </tr>
        </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{nombre}}</td>
      <td>{{precio}}</td>
      <td></td>
    </tr>

    </tbody>
   </table>
</form>

</main>


</div>

</body>
</html>