<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title style=>Produktor©</title>

    <link rel="stylesheet" href="{{ url_for ('static', filename='main.css')}}"

    <!--Bootstrap con plantilla -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/quartz/bootstrap.min.css">



</head>


<body style="background: #757f9a;
background: -webkit-linear-gradient(to left, #757f9a, #d7dde8);
background: linear-gradient(to left, #757f9a, #d7dde8);">


<main class="card-body">

    <h1 class="display-4 text-center mt-4 " style="color:white">Produktor©</h1>
     <div class="col-md-4 offset-md-4 my-auto">

        <div class="d-grid gap-2">
            <form method="post" action="/">
                <button type="submit" name="admin" value="admin" class="btn btn-outline-secondary">Home</button>
            </form>
        </div>

     <br><br>

         <div class="alert alert-dismissible alert-primary">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Cuidado!</strong> No dejes ningún campo vacío!
         </div>

   <div>
     <form method = "post" action="/anadir_productos">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="" class="form-control"><br><br>

         <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" class="form-control"><br><br>

        <label for="lugar">Localización:</label>
        <input type="text" id="lugar" name="lugar" class="form-control"><br><br>

        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" class="form-control"><br><br>

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" class="form-control"><br><br>

         <button type="submit" name="anade" value="anade" class="btn btn-success">Añade producto</button><br><br>

     </form>
   </div>




    <table class="table table-hover">
        <tr class="table-dark">

            {% for header in headings %}
            <th>
                {{ header }}
            </th>

            {% endfor %}
        </tr>

        {% for row in data %}
        <tr class="table-secondary">

            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}

        </tr>

        {% endfor %}

        </tr>
    </table>

</main>


</div>

</body>
</html>