<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title style=>Produktor©</title>

    <link rel="stylesheet" href="{{ url_for ('static', filename='main.css')}}"

    <!--Bootstrap con plantilla -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/quartz/bootstrap.min.css">



</head>


<body style="background: #757f9a;
background: -webkit-linear-gradient(to left, #757f9a, #d7dde8);
background: linear-gradient(to left, #757f9a, #d7dde8);">


<main class="card-body">

    <h1 class="display-4 text-center mt-4 " style="color:white">Produktor©</h1>
     <div class="col-md-4 offset-md-4 my-auto">

        <div class="btn-toolbar gap-4 btn-group-lg">
                <form method="get" action="/">

                    <button type="submit" name="admin" value="admin" class="btn btn-outline-secondary">Cerrar sesión</button>

                </form>

            <form method="post" action="/cliente">

                <button type="submit" name="cliente_b" value="cliente" class="btn btn-primary">Cliente</button>

            </form>


            <form method="post" action="/proveedor">

                <button type="submit" name="proveedor_b" value="proveedor" class="btn btn-warning">Proveedor</button>

            </form>


        </div>
     </div>

    <br><br>
    <br><br>
    {% for row in data_admin %}
        {% if row[6] * 0.1 >= row[5] %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h4 class="alert-heading">Alerta de stock!</h4>
                    <p class="mb-0">Los productos en amarillo tienen un stock muy bajo. Considera pedir más cantidades de tu proveedor.</p>
                </div>
        {% endif %}
    {% endfor %}

     <table class="table table-hover">
        <tr class="table-dark">

            {% for header in headings_admin %}
            <th>
                {{ header }}
            </th>

            {% endfor %}
        </tr>

        {% for row in data_admin %}

            {% if row[6] * 0.1 < row[5] %}
                <tr class="table-secondary">

                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}

                </tr>

            {% else %}
                <tr class="table-warning">

                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}

                </tr>
            {% endif %}


        {% endfor %}


    </table>

     <br><br>


    <center>
        <img src="{{url_for('static', filename='image_total.jpg')}}"  width="1200" height="800" />
    </center>





</main>



</body>
</html>