<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title style=>Produktor©</title>

    <link rel="stylesheet" href="{{ url_for ('static', filename='main.css')}}"

    <!--Bootstrap con plantilla -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/quartz/bootstrap.min.css">



</head>


<body style="background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">


<main class="card-body">

    <h1 class="display-4 text-center mt-4 " style="color:white">Produktor©</h1>
    <form method="get" action="/">

        <button type="submit" name="admin" value="admin" class="btn btn-outline-secondary">Cerrar sesión</button>

    </form>
     <br><br>


    <table class="table table-hover">
        <tr class="table-dark">

            {% for header in headings_stock %}
            <th>
                {{ header }}
            </th>

            {% endfor %}
        </tr>

        {% for row in data_stock %}
        <tr class="table-secondary">

            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}

        </tr>

        {% endfor %}

    </table>

        <h2 style="text-align:center">Ganancias según producto</h2>
        <center><img src="{{url_for('static', filename='image_productos.jpg')}}"  width="1200" height="600" /></center>

         <br><br>

         <h2 style="text-align:center">Ganancias según empresa</h2>
         <center><img src="{{url_for('static', filename='image_empresas.jpg')}}"  width="1200" height="600" /></center>

         <br><br>


    <table class="table table-hover">
        <tr class="table-dark">

            {% for header in headings_clientes %}
            <th>
                {{ header }}
            </th>

            {% endfor %}
        </tr>

        {% for row in data_clientes %}
        <tr class="table-secondary">

            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}

        </tr>

        {% endfor %}

    </table>



</main>


</body>
</html>